{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
WTForms
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}


{% block content %}
<h1 align="center">Sign up</h1>

     <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    <form method="post">
        {{ form.csrf_token }}
        {{wtf.quick_form(form)}}


    </form>
    </div>
{% endblock %}