{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
Post Announcement
{% endblock %}



{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/createpost.css') }}">
        <script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}

    <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">Post&nbsp;</span></h2>
    <h2 class="hero_header"><span class="light">Announcement&nbsp;</span></h2>


  </section>

    <div class="header_announce">
    <h1 style="color:  #0c3270">Create A Post Below</h1>
    </div>

<div class="content-section">
    <form method="POST" action="">
        {{ wtf.quick_form(form) }}
    </form>
</div>
    </div>

     <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="footer_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>




{% endblock content %}