{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
WTForms
{% endblock %}



{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/login-signup/') }}">

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}

    <div class="container">
            <h2 >{{ post.title }}</h2>
                <p>{{ post.content }}</p>
        <a> Posted by: {{ post.first_name }} {{ post.last_name }}</a>
            <div>
             <small> On: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>

        <div class="button">
        {% if post.author == current_user.id%}
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('Staff_View.update_post', post_id=post.id) }}">Update</a>

            <form action="{{ url_for('Staff_View.delete_post', post_id=post.id) }}" method="post">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        {% elif current_user.user_type > 0 %}

           <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('Staff_View.update_post', post_id=post.id) }}">Update</a>

            <form action="{{ url_for('Staff_View.delete_post', post_id=post.id) }}" method="post">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>

        {% endif %}
        </div>
    </div>

</div>
{% endblock%}