{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
Requests
{% endblock %}






{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/studentsearch.css') }}">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">Student&nbsp;</span></h2>
      <h2 class="hero_header"><span class="light">Requests&nbsp;</span></h2>
  </section>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}
    <div class="container">

    <p> Welcome to the Request table! Here you can accept or deny students request to level up or submited there safty exam.</p>
    <p> If you need to see a more information about a student's request you can click on
        their name.</p>

<div class="table-responsive">

		<table class="table" id="data_table">
			<thead>
			<tr>
                <th scope="col">Reject</th>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
                <th scope="col">Machine</th>
                <th scope="col">Level</th>
                <th scope="col">Request</th>
			</tr>
			</thead>

			<tbody>
			   	{% for request in requests %}
                    <tr>
                       <td><form action="{{ url_for('Staff_View.delete_request', requestDelete_id=request.id) }}" method="post">
                        <input class="btn btn-danger" type="submit" value="Reject">
                    </form></td>
                        <td><a href="{{ url_for('Staff_View.request_detail', request_id=request.id) }}"> {{ request.id }}</a></td>
						<td><a href="{{ url_for('Staff_View.request_detail', request_id=request.id) }}"> {{ request.first_name}} {{request.last_name}}</a></td>
                        <td><a>{{ request.machine_name }}</a></td>
                        <td><a>{{ request.level }}</a></td>
                        <td><a>{{ request.Request}}</a></td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    </div>

     <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>


  <div class="copyright">&copy;2019- <strong></strong></div>






{% endblock content %}
