{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
Student Search
{% endblock %}




{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/studentsearch.css') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

    <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">Student&nbsp;</span></h2>
      <h2 class="hero_header"><span class="light">Search&nbsp;</span></h2>
  </section>




<div class="container">

    <!-- The divider for the welcome paragraph at the top of the homepage -->
<div class="table-responsive">
        <input type="text" id="nameinput" onkeyup="namesearch()" placeholder="Search by name..">
        <input type="text" id="majorinput" onkeyup="majorsearch()" placeholder="Search by major..">


		<table class="table table-hover" id="data_table">
			<thead class="thead-dark">
			<tr>

				<th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Major</th>

			</tr>
			</thead>

                <tfoot>
            <tr>
            <td colspan="4">
                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
            </td>
            </tr>
            </tfoot>

			<tbody>
			   	{% for student in students%}
                    <tr>

						<td><a  href="{{ url_for('Staff_View.student_detail', student_id=student.id) }}">  {{ student.first_name}} {{student.last_name}}</a></td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.major_name}}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
      <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="footer_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>
</div>




<script>
function namesearch() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("nameinput");
  filter = input.value.toUpperCase();
  table = document.getElementById("data_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function majorsearch() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("majorinput");
  filter = input.value.toUpperCase();
  table = document.getElementById("data_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

$(document).ready(function () {
  $('#data_table').DataTable();
  $('.dataTables_length').addClass('bs-select');
});


</script>
{% endblock content %}

