{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
WTForms
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}


{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/studentdetail.css') }}">

{% endblock %}

{% block content %}
<h1 align="center">Student Detail</h1>
    <div class="container">
    <form methond = "Post" action="/">
        <dl>
            {{ wtf.quick_form(form) }}

        </dl>

    </form>
    </div>

    <div class="table table-hover">

		<table class="table" id="data_table">
			<thead>
			<tr>
                <th scope="col">Machine</th>
                <th scope="col">Level</th>
			</tr>
			</thead>

            <tfoot>
            <tr>
            <td colspan="2">
            </td>
            </tr>
            </tfoot>

			<tbody>
			   	{% for details in detail%}
                    {% if details.machine_name != "Null" %}
                    <tr>
                        <td>{{ details.machine_name }}</td>
                        <td>{{ details.description }}</td>
					</tr>
                    {% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}