{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Staff Page
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/studentsearch.css') }}">

{% endblock %}

{% block content %}
<title>Student Search</title>
    <h1>Machine Shop Student Search</h1>
    <p> Welcome to the student search table! From here you can either search by a student name or major depending on
        who you are looking for.</p><p> If you need to see a more detailed view of a student's information you can click on
        their name.</p>

    <!-- The divider for the welcome paragraph at the top of the homepage -->
<div class="table-responsive">
        <input type="text" id="nameinput" onkeyup="namesearch()" placeholder="Search by name..">
        <input type="text" id="majorinput" onkeyup="majorsearch()" placeholder="Search by major..">


		<table class="table table-hover" id="data_table">
			<thead>
			<tr>

				<th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Major</th>

			</tr>
			</thead>

                <tfoot>
            <tr>
            <td colspan="4">
                <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
            </td>
            </tr>
            </tfoot>

			<tbody>
			   	{% for student in students%}
                    <tr>

						<td><a href="{{ url_for('Staff_View.student_detail', student_id=student.id) }}"> {{ student.first_name}} {{student.last_name}}</a></td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.major_name}}</td>


					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>




<script>
function namesearch() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("nameinput");
  filter = input.value.toUpperCase();
  table = document.getElementById("data_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function majorsearch() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("majorinput");
  filter = input.value.toUpperCase();
  table = document.getElementById("data_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

// Basic example
$(document).ready(function () {
  $('#data_table').DataTable({
    "pagingType": "simple_numbers" // "simple" option for 'Previous' and 'Next' buttons only
  });
  $('.dataTables_length').addClass('bs-select');
});


</script>
{% endblock content %}

