{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Homepage
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>
    <title>Homepage</title>

{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}
<body>
<!-- Main Container -->
<div class="container">
  <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">The IDE&nbsp;</span></h2>
      <h2 class="hero_header"><span class="light">Innovation Lab&nbsp;</span></h2>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
      <div class="button_col"><a  href="#">Interactive floor plan&nbsp;</a></div>
      <div class="button_col"><a  href="{{ url_for('Machine_View.Machine') }}">Machine Descriptions&nbsp;</a></div>
      <div class="button_col"><a  href="{{ url_for('Student_view.profile') }}">Student Profile&nbsp;</a></div>
    <p class="text_column">Click the link above to access the interactive floor plan of the Lab. From there you will know exactly which machine you are booking and where to find it when you enter the lab.&nbsp; &nbsp; </p>
    <p class="text_column">The Innovation Lab is full of useful machines and tools. You as a SNHU Student will be able to access and use them all to help you through your degree progress. Click the link above to see a description of each machine along with a safety reminder message &nbsp;&nbsp; </p>
    <p class="text_column">As you work hard and progress through the workshops for each machine you will grow as a machinist you will earn new ranks. Through the student profile you can track your progress and growth. Please click the link above to access your profile.  </p>
  </section>
	<footer>
    <article class="footer_column">
      <h3>ABOUT</h3>
        <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Nice.png")}}' width="400" height="200"/>
      <p>The machine shop is a resource for students of all majors to take advantage of as an experience both beneficial in a working sense and on a hobbyist level. The machine shop provides experience in hand tools, lathe machining, vertical milling,CNC milling and more. Individual machine bookings are available for all students as well as workshops are booked for students. </p>
    </article>
    <article class="footer_column">
      <h3>LOCATION</h3>
        <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Building.jpg")}}' width="400" height="200"/>
{#      <img src="" alt="" width="400" height="200" class="cards"/>#}
      <p> Place holder for the location of the IDE shop: Speak to Alejandro about a paragraph directing students to the IDE shop, Located in the basement of the new innovation building - get room number&nbsp;&nbsp;</p>

    </article>
  </footer>
  <!-- Stats Gallery Section -->
<!--
  <div class="gallery">
    <div class="thumbnail">
      <h1 class="stats">1500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">2300</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">7500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">9870</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
  </div>
-->
  <!-- Parallax Section -->
<!--
  <section class="banner">
    <h2 class="parallax">PARALLAX HERO</h2>
    <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </section>
-->
  <!-- More Info Section -->

  <!-- Footer Section -->
  <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>
</div>
<!-- Main Container Ends -->
</body>


{% endblock content %}