{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
 <nav class="navbar navbar-default">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('Main_View.home')}}">Machine Shop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

              {% if current_user.is_authenticated and current_user.user_type == 1%}
                  <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('Main_View.home')}}">Home</a></li>
                  <li><a href="{{ url_for('Machine_View.Machine')}}">Machine Description</a></li>
                  <li><div class="dropdown">
                    <a class="dropbtn center-block">Booking</a>
                    <div class="dropdown-content">
                    <a href="{{ url_for('Booking_View.Machine_Details', machine_id='1') }}">Bridgeport</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='2') }}">HAAS</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='3') }}">Lathe</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='4') }}">Syil</a>

                </div>
                </div>
                </li>
                  <li><a href="{{ url_for('Staff_View.student_search')}}">Student Search</a></li>
                  <li><a href="{{ url_for('Staff_View.request_search')}}">Student Request</a></li>
                  <li><a href="{{ url_for('Student_view.post')}}">Announcments</a></li>
                  <li><a href="{{ url_for('Staff_View.newPost')}}">Post</a></li>
                       <li><a href="{{ url_for('adminBooking_View.bookingpage')}}">Admin booking</a></li>
                  <li><a href="{{ url_for('login.logout')}}">Logout</a></li>
                    </ul>
                {% elif current_user.is_authenticated and current_user.user_type == 3 %}
                  <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('Tool_View.CheckIn')}}">Check In Table</a></li>
                  <li><a href="{{ url_for('Tool_View.CheckInSignIn')}}">Check In Form</a></li>
                  <li><a href="{{ url_for('login.logout')}}">Logout</a></li>
                  </ul>
                {% elif current_user.is_authenticated and current_user.user_type == 0  %}
                  <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('Main_View.home')}}">Home</a></li>
                  <li><a href="{{ url_for('Machine_View.Machine')}}">Machine Description</a></li>
                    <li><div class="dropdown">
                    <a class="dropbtn center-block">Booking</a>
                    <div class="dropdown-content">
                    <a href="{{ url_for('Booking_View.Machine_Details', machine_id='1') }}">Bridgeport</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='2') }}">HAAS</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='3') }}">Lathe</a>
                        <a href="{{ url_for('Booking_View.Machine_Details', machine_id='4') }}">Syil</a>

                </div>
                </div>
                </li>

                  <li><a href="{{ url_for('Student_view.requests')}}">Profile/Request</a></li>

                  <li><a href="{{ url_for('Student_view.post')}}">Announcments</a></li>
                  <li><a href="{{ url_for('login.logout')}}">Logout</a></li>

                <li class="dropdown">

                <a onclick="myFunction()"><i class="fa fa-bell " style="font-size:20px"></i></a>

                    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
                        {% for notif in notifications %}
                            {% if notif.user_id == current_user.id %}
                                <div>
                             <p class="w3-bar-item w3-button">{{ notif.description }} {{ notif.date_receive }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}

                </div>
                </li>
                </ul>
               {% else %}
                  <ul class="nav navbar-nav">
                   <li><a href="{{ url_for('login.login_form')}}">Login</a></li>
                  <li><a href="{{ url_for('login.signup')}}">Signup</a></li>
                </ul>
              {% endif %}


        </div><!--/.nav-collapse -->

    </nav>
<script>

function myFunction() {
  var x = document.getElementById("Demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
{% endblock content %}