
.welcome
{
    text-align: center;
    width: 1000px;
    height: 220px;
    margin:100px auto;
    background:rgba(255,255,255,0.80);
    position:relative;

}


h1
{
    color: #0C3270;

}

h2
{
    color:#E9B210 ;
    margin-top: 2px;
}

h1, h2
{
    margin-bottom:2px;
    text-align: center;
}

body
{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background-image: url("../../static/images/Shop.jpeg");
    background-repeat: no-repeat;
    background-size: 2000px 1000px;

}

p{
    font-size: 20px;

}

