body
{
    margin: 0px;
    padding: 0px;
    background-color: #0C3270;
}

h1
{
    color:#ffffff ;
    text-align: center;
}

.saftey
{
    position: absolute;
    top:35%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.saftey .safety_img
{
    width: 300px;
    flex: 0 0 300px;

}

.safety .safety_img img
{
    max-width: 100%;
}

.safety .safety_text
{
    padding-left: 20px;
}

.safety .saftey_text h3
{
    margin: 0;
    padding-left: 30px;
}

.safety .safety_text h2
{
    margin: 0;
    padding-left: 30px;
}

.safety .safety_text ul2
{
    padding-left: 30px;
    overflow: hidden;

}

.bridgeport
{
    position: absolute;
    top:80%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.bridgeport .bridgeport_img
{
    width: 300px;
    flex: 0 0 300px;

}

.bridgeport .bridgeport_img img
{
    max-width: 100%;
}

.birdgeport .bridgeport_text
{
    padding-left: 20px;
}

.bridgeport .bridgeport_text h3
{
    margin: 0;
    padding-left: 30px;
}

.bridgeport .bridgeport_text h2
{
    margin: 0;
    padding-left: 30px;
}

.bridgeport .bridgeport_text p
{
    padding-left: 30px;
}

.HAAS
{
    position: absolute;
    top:170%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.HAAS .HAAS_img
{
    width: 300px;
    flex: 0 0 300px;

}

.HAAS .HASS_img img
{
    max-width: 100%;
}

.HAAS .HAAS_text
{
    padding-left: 20px;
}

.HAAS .HAAS_text h3
{
    margin: 0;
    padding-left: 30px;
}

.HAAS .HAAS_text h2
{
    margin: 0;
    padding-left: 30px;
}

.HAAS .HAAS_text p
{
    padding-left: 30px;
}


.lathe
{
    position: absolute;
    top:125%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.lathe .lathe_img
{
    width: 300px;
    flex: 0 0 300px;

}

.lathe .lathe_img img
{
    max-width: 100%;
}

.lathe .lathe_text
{
    padding-left: 20px;
}

.lathe .lathe_text h3
{
    margin: 0;
    padding-left: 30px;
}

.lathe .lathe_text h2
{
    margin: 0;
    padding-left: 30px;
}

.lathe .lathe_text p
{
    padding-left: 30px;
}

.syil
{
    position: absolute;
    top:215%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
}

.syil .syil_img
{
    width: 300px;
    flex: 0 0 300px;

}

.syil .syil_img img
{
    max-width: 100%;
}

.syil .syil_text
{
    padding-left: 20px;
}

.syil .syil_text h3
{
    margin: 0;
    padding-left: 30px;
}

.syil .syil_text h2
{
    margin: 0;
    padding-left: 30px;
}

.syil .syil_text p
{
    padding-left: 30px;
}