h1{
    text-align: center;
     color:#E9B210 ;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

p{
    text-align: center;
    color: #0C3270;
    font-size: 15px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

#nameinput {
    position: absolute;
    top:25%;
    left: 7%;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}

#majorinput {
    position: absolute;
    top:25%;
    left: 30%;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}


#data_table {
    border: 2px solid #0c3270;
    background-color: #f2f2f2;
    width: 90%;
    margin-right: 60px;
    margin-left: 80px;
    text-align: center;
    margin-top: 90px;
    border-collapse: collapse;
    page-break-inside:auto;
}

#data_table tr{
      page-break-inside:avoid;
      page-break-after:auto;
  }
#data_table td, #data_table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
#data_table tbody td {
  font-size: 17px;
}
#data_table tr:nth-child(even) {
  background: #fee9b3;
}
#data_table thead {
  background: #0c3270;
    display:table-header-group;
}

#data_table thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #0c3270;
}

#data_table thead th:first-child {
  border-left: none;
}

#data_table tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #0c3270;
    display:table-footer-group
}
#data_table tfoot td {
  font-size: 13px;
}
#data_table tfoot .links {
  text-align: right;
}
#data_table tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #0c3270;
  padding: 2px 8px;
  border-radius: 5px;
}