ul2
{

    text-align: left;
}
footer
{
    background-color: #eeeeee;
    font-size: 15px ;
}

@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}

.hero_header {

	font-color: #bf9c43;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
/*.welcome{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background-color: #FFFFFF;*/
/*}*/
.hero {
    background-image: url("../../static/images/Shop.jpeg");
    background-repeat: no-repeat;
    background-size: 1800px 700px;
	padding-top: 200px;
	padding-bottom: 200px;
}
.light {
    background-color:#FFFFFF;
	font-weight: bold;
	color: #717070;
}
.tagline {
    background-color:#FFFFFF;
	text-align: center;
	color: #717070;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.button_col{
	width: 33%;
	text-align: justify;
	font-weight: lighter;
	font-size: 18px;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;

	color: #717070;
	transition: all 0.3s linear;
}
.button_col:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.text_column {
	width: 33%;
	font-size: 14px;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;

}
.about {
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}

/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #717070;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #bf9c43;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #f2cc6d;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;

}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
    .text_column {
        width: 100%;
    }

    .thumbnail {
        width: 50%;
    }

    .text_column {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .banner {
        margin-top: 0px;
        padding-top: 0px;
    }
}
