{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
Booking
{% endblock %}



{% block styles %}
{{super()}}
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>


{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}
<body>
<div class="container">
  <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">The IDE&nbsp;</span></h2>
      <h2 class="hero_header"><span class="light">Innovation Lab&nbsp;</span></h2>
  </section>
<!-- Main Container -->
<div class="container">



 <img src="{{  url_for( 'static' , filename="media/Screenshot_from_2020-04-20_00-22-58.png")}}" width = "1000" height="500">




  <!-- Stats Gallery Section -->
<!--
  <div class="gallery">
    <div class="thumbnail">
      <h1 class="stats">1500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">2300</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">7500</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
    <div class="thumbnail">
      <h1 class="stats">9870</h1>
      <h4>TITLE</h4>
      <p>One line description</p>
    </div>
  </div>
-->
  <!-- Parallax Section -->
<!--
  <section class="banner">
    <h2 class="parallax">PARALLAX HERO</h2>
    <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </section>
-->
  <!-- More Info Section -->

  <!-- Footer Section -->
  <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="footer_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>
</div>
<!-- Main Container Ends -->
</div>
</body>


{% endblock content %}