{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}

{% block title %}
    Booking Page
{% endblock %}




{% block styles %}
{{super()}}
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block content %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <title></title>


</head>

    <h1>{{MachineID.machine_name}} Schedule</h1>



    <table class="calendar table table-bordered">
        <thead id="days">


        </thead>

        <tbody id = "times">




        </tbody>

    </table>


    <tr>
        <form id="confirmationTable">

        </form>
    </tr>





    <script>
        {#window.onload = TimeSheet;#}
        window.onload = start;

        function start()
        {
            TimeSheet();
            click();
        }

        function getWeekDay(date)
        {
            //Create an array containing each day, starting with Sunday.
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            return weekday[date];
        }
        function TimeSheet()
        {
            var Hour24Times = 8;
            var hours;
            var text = "";
            var dateObj = new Date();
            var weekDays = [];
            var i = 0;

            while(weekDays.length < 5)
            {
                if (getWeekDay(((dateObj.getDay() + i) % 7)) !== "Sunday" && getWeekDay(((dateObj.getDay() + i) % 7)) !== "Saturday") {
                    weekDays.push(new Date((dateObj.getMonth() + 1) + ' ' + (dateObj.getDate() + i) + ' ' + dateObj.getFullYear()));
                }
                i++;
            }


            jsondata = {{ jsonStick }}
            testkey=[];
            Object.keys(jsondata).forEach(function (key) {
                value = jsondata[key][0];
                {#console.log(value)#}
                testkey.push(jsondata[key][0])
            });
            {#console.log(testkey)#}


            text += "<tr>\n<th width=\"12%\">&nbsp;</th>\n";


            for (var i = 0; i < 5; i++)
            {
                console.log(weekDays[i].getDate())
                text += "<th width=\"10%\">" + getWeekDay(((weekDays[i].getDay())%7)) + "<br>" + (weekDays[i].getMonth()+1) + "/" + weekDays[i].getDate() + "/" + weekDays[i].getFullYear();
                text += "</th>";
            }
            document.getElementById("days").innerHTML = text;
            text = "";


            while (Hour24Times <= 16)
            {
                hours = Hour24Times;
                text += "<td>" + ((hours % 12) || 12) + ":00 " + (hours >= 12 ? 'PM' : 'AM') + " - " + (((hours + 1) % 12) || 12) + ":00 " + ((hours + 1) >= 12 ? 'PM' : 'AM' + "</td>");

                for (var i = 0; i < 5; i++)
                {
                    anothertime = (weekDays[i].getFullYear().toString() +  (weekDays[i].getMonth()+1).toString()  + weekDays[i].getDate().toString() + Hour24Times.toString()).trim();
                    var JTime = JSON.stringify(weekDays[i].getFullYear() + (weekDays[i].getMonth()+1) + weekDays[i].getDate() + Hour24Times)

                    if(testkey.toString().trim().includes(anothertime))
                    {
                        console.log('DEBUG: has events')
                        text += "<td class=\" has-events\" rowspan=\"1\">\n" +
                                "    <a id=\"" + weekDays[i].getFullYear() + (weekDays[i].getMonth()+1) + weekDays[i].getDate() + Hour24Times + "\" machineTime=\"" + Hour24Times + "\" machineDate=\"" + weekDays[0].getFullYear() + "/" +(weekDays[0].getMonth()+1) + "/" + weekDays[0].getDate() + "\" , this.getAttribute('machineDate'), this.getAttribute('id'))\" >\n" +
                                "        <div style=\"width: 99%; height: 100%;\" ></div>\n" +
                                "    </a>\n" +
                                "</td>"
                    } else
                        {
                            console.log('DEBUG: no events')
                            text += "<td class=\" no-events\" rowspan=\"1\">\n" +
                                    "    <a id=\"" + weekDays[i].getFullYear() + (weekDays[i].getMonth()+1) + weekDays[i].getDate() + Hour24Times + "\" machineTime=\"" + Hour24Times + "\" machineDate=\"" + weekDays[0].getFullYear() + "/" + (weekDays[0].getMonth()+1) + "/" + weekDays[0].getDate() + "\" onclick=\"bookingConfirmation(this.getAttribute('machineTime'), this.getAttribute('machineDate'), this.getAttribute('id'))\" >\n" +
                                    "        <div style=\"width: 99%; height: 100%;\" ></div>\n" +
                                    "    </a>\n" +
                                    "</td>"
                        }
                }
                Hour24Times++;
                text += "</tr>";
            }
            document.getElementById("times").innerHTML = text;
        }


        function bookingConfirmation(time, date, blockId)
        {
            var dateObj = new Date();
            var month = dateObj.getMonth() + 1; //months from 1-12
            var day = dateObj.getDate();
            var year = dateObj.getFullYear();
            var newdate = year + "/" + month + "/" + day;
            var text = "<tr>";


            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"blockId\" value=\"" + blockId + "\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"User_ID\" value=\"{{ current_user.id }}\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"Machine_ID\" value=\"{{ MachineID.id }}\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"MachineBookingTime\" value=\"" + time + "\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"MachineBookingDate\" value=\"" + date + "\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"DateMachineBooked\" value=\"" + newdate + "\" readonly>";
            text += "<input style=\"outline-width: 0; display:none;\"\" type=\"text\" id=\"Room_ID\" value=\"" + {{ Room.id }} + "\" readonly>";
            text += "<button type=\"submit\">Confirm</button>";
            text += "</tr>";

            document.getElementById("confirmationTable").innerHTML = text;
        }

        function click()
        {
            var all = document.getElementsByClassName("no-events");
            for (var i = 0; i < all.length; i++)
            {
                all[i].onclick = inputClickHandler;
            }
        }

        function inputClickHandler(e)
        {
            e = e || window.event;
            var tdElm = e.target || e.srcElement;
            tdElm.style.backgroundColor = '#ff9900';
        }
    </script>



{% endblock %}