{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    Booking Page
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block content %}

    <h1>{{MachineID.machine_name}} Schedule</h1>

    <div class="dropdown" style="float:left;">
        <button class="dropbtn">Machines</button>
        <div class="dropdown-content" style="left:0;">

            	{% for machine in ball%}
                    {% if machine.machine_name != "Default" %}
                        <tr>
                            <td>
                                <a href="{{ url_for('Booking_View.Machine_Details', machine_id=machine.id)}}">{{ machine.machine_name }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}


        </div>
    </div>


    <table class="calendar table table-bordered">
        <thead id="days">


        </thead>

        <tbody id = "times">

{#            <td class=" no-events" rowspan="1">#}
{#                <a href="{{ url_for('Booking_View.MachineScheduleConfirm',#}
{#                machine_id=MachineID.id, MachineBlockDateAndTime="nut")}}".replace(="MachineBlockDateAndTime" ,time="time">#}
{#                    <div style="width: 99%; height: 100%;"></div>#}
{#                </a>#}
{#            </td>#}

        </tbody>

    </table>






<script>
    window.onload = TimeSheet;

    function TimeSheet()
    {
        var times = 8;
        var hours;
        var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
        var text = "";
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1; //months from 1-12
        var day = dateObj.getUTCDate();
        var year = dateObj.getUTCFullYear();
        var newdate;

        newdate = year + "/" + month + "/" + day;
        text+="<tr>\n<th width=\"10%\">&nbsp;</th>\n";

        for(var i = 0; i < 5; i++)
        {
            text += "<th width=\"10%\">" +  days[i] + " " + year + "/" + month + "/" + (day+i);
            text += "</th>";

            {#text+= "<th width=\"10%\">"+ days[i] +"</th>\n";#}
        }

        text += "</tr>"
        document.getElementById("days").innerHTML = text;
        text ="";


        while(times <= 16)
        {
            hours = times ;
            text += "<td>" + ((hours % 12) || 12) + ":00 " + (hours >= 12 ? 'PM' : 'AM') + " - " + (((hours+1) % 12) || 12) + ":00" + ((hours+1) >= 12 ? 'PM' : 'AM' + "</td>");
            newdate = year + "/" + month + "/" + day;

            for(var i = 0; i < 5; i++)
            {
                var stringTime = "this";

                text +="<td class=\" no-events\" rowspan=\"1\">\n" +
                       "    <a href=\"{{ url_for('Booking_View.MachineScheduleConfirm',
                                         machine_id=MachineID.id, MachineBlockDateAndTime="nut")}}\".replace(=\'nut\', stringTime >\n"+
                       "        <div style=\"width: 99%; height: 100%;\"></div>\n"+
                       "    </a>\n"+
                       "</td>";

                {#text += "<td class=\" no-events\" rowspan=\"1\">\n" +#}
                {#        "   <a href=\"{{ url_for('Booking_View.MachineScheduleConfirm',#}
                {#        machine_id=MachineID.id, MachineBlockDateAndTime=stringTime)}}\">\n" +#}
                {#        "       <div style=\"width: 99%; height: 100%;\"></div>\n" +#}
                {#        "   </a>\n" +#}
                {#        "</td>";#}

                newdate = year + "/" + month + "/" + (day+i);
            }

            times++;
            text += "</tr>";
        }
        document.getElementById("times").innerHTML = text;
    }
</script>

{% endblock %}