{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
Profile
{% endblock %}





{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/request.css') }}">

{% endblock %}

{% block content %}
    <div class="container">
  <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">Student Profile</span></h2>

  </section>
<form method="post">
    <div class="table table-hover">
    <h1 align="center">{{ current_user.first_name }} {{ current_user.last_name }}</h1>


		<table class="table" id="data_table">
			<thead>
			<tr>
                <th scope="col">Machine</th>
                <th scope="col">Level</th>
			</tr>
			</thead>
                 <tfoot>
            <tr>
            <td colspan="2">
            </td>
            </tr>
            </tfoot>
			<tbody>
			   	{% for details in detail%}

                    {% if details.machine_name != "Default" %}
                    <tr>
                        <td>{{ details.machine_name }}</td>
                        <td>{{ details.description }}</td>
					</tr>
                    {% endif %}
				{% endfor %}
			</tbody>
		</table>

     <div class="request">
     <h1 align="center">Exam Pass Request</h1>
     <h4 align="center">After passing the Safety Exam please fill out the request form below for full site access</h4>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}


        {{ form1.csrf_token }}
        <h2>{{wtf.quick_form(form1)}}</h2>

     </div>
    </div>
</form>



    </div>

      <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>
</div>
<!-- Main Container Ends -->
</body>

{% endblock %}
