{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
WTForms
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/login-signup/') }}">

{% endblock %}

{% block content %}
<h1 align="center">Announcments </h1>
 {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}
     <div class="container" align="left">


    {% for post in posts %}


             <h2 >{{ post.title }}</h2>
                <p>{{ post.content }}</p>
        <a href="{{ url_for('Staff_View.post', post_id=post.id) }}"> Posted by: {{ post.author }}</a>
            <div>
             <small> On: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>


    {% endfor %}

    </div>
{% endblock %}



