{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}
{% block title %}
WTForms
{% endblock %}




{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/request.css') }}">

{% endblock %}

{% block content %}
    <div class="container">
  <section class="hero" id="hero">
      <h2 class="hero_header"><span class="light">The IDE&nbsp;</span></h2>
      <h2 class="hero_header"><span class="light">Innovation Lab&nbsp;</span></h2>

  </section>
<h1 align="center">{{ current_user.first_name }} {{ current_user.last_name }}</h1>

     <div class="request">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}


		<table class="table table-bordered table-hover" id="data_table">
			<thead >
			<tr>
                <th scope="col">Machine</th>
                <th scope="col">Level</th>
			</tr>
			</thead>



			<tbody>
			   	{% for details in detail%}
                    {% if details.machine_name != "Default" %}
                    <tr>
                        <td>{{ details.machine_name }}</td>
                        <td>{{ details.description }}</td>
					</tr>
                    {% endif %}
				{% endfor %}
			</tbody>
		</table>

     <h1 align="center">Request</h1>
     <h4 align="center">Below you can request to level up on a Machine that you have completed workshops on</h4>
    <form method="post">

        {{ form.csrf_token }}
        <h2>{{wtf.quick_form(form)}}</h2>
    </form>
    </div>



      <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
      <div class="button"><a  href="{{ url_for('Student_view.post') }}">Announcements</a>&nbsp;</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong></strong></div>
</div>
<!-- Main Container Ends -->
</body>
{% endblock %}





