@charset "utf-8";
/* CSS Document */

body
{
    font-family: source-sans-pro;
    background-color: #f2cc6d;
    text-align: center;
}

#loginbox
{
    background-color: #f2f2f2;
    display: inline-block;
    text-align:center;
    border-radius: 10px;
    margin-top: 100px;
    width: 38%;
    height: 500px;
    box-shadow: 30px 30px 30px #bf9c43;
}
.img-icon
{
    position: fixed;
    z-index: 10;
    top: 3px;
    left: 41%;
}

h1
{
    padding-top: 60px;
    padding-bottom: 30px;
}

#log-btndiv
{

    display: inline-block;
}
