{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Machine Descriptions
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/MachineDes.css') }}">

{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>MachineInfo</title>


</head>
    <body>
    <h1>Machine Information</h1>

    <div class="saftey">

            <div class="safety_img">
         <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Saftey.jpg")}}' width="300" height="300"/>
             </div>
             <div class="saftey_text">
                 <h2>Stop Please Read</h2>
                 <h3>Safety Message</h3>
                <ul2 style = "list-style-type:circle;">
                    <li>Safety Glasses required: Yes (Required to walk in to Machine Shop)</li>
                    <li>Safety Shoes: Yes (Required to walk in to Machine Shop)</li>
                    <li>Long Pants: Yes (Required to walk in to Machine Shop)</li>
                    <li>Long sleeved shirts or loose clothing should not be worn while running this machine. Moving parts of the machine can catch them.</li>
                    <li>If you have long hair, you must tie your hair back to keep it out of the way of the machine.</li>
                    <li>Never wear gloves while operating this machine.</li>
                </ul2>

                 </div>
         </div>

         <div class="bridgeport">

            <div class="bridgeport_img">
         <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Bridgeport.jpg")}}' width="300" height="300"/>
             </div>
             <div class="bridgeport_text">
                 <h2>Bridgeport</h2>
                <h3> Description</h3>
                <p>
                    The Bridgeport milling machine is used to machine a stock material into an object through user input.
                    This 3-axes machine can use many different milling ends and is equipped with a hands-free system to
                    make it easier to mill in a straight line. Milling is the process of machining an object—commonly
                    stock material—using rotary cutters to remove excess material.
                </p>

                 </div>
         </div>

            <div class="HAAS">

            <div class="HAAS_img">
            <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/HAAS.jpg")}}' width="300" height="300"/>
             </div>
             <div class="HAAS_text">
                 <h2>HAAS VF2</h2>
                 <h3>Description</h3>
                 <p>
                   The HAAS CNC milling machine is used to mill an object using computer code, specifically G- or
                    M-code. This is the larger of the two CNC machines at CETA. Milling is the process of machining an
                    object—commonly stock material—using rotary cutters to remove excess material.
                 </p>

                 </div>
         </div>

    <div class="lathe">

            <div class="lathe_img">
            <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Lathe.jpg")}}' width="300" height="300"/>
             </div>
             <div class="lathe_text">
                 <h2>Lathe</h2>
                 <h3>Description</h3>
                 <p>
                     The lathe uses rotational motion to mill a stock material—that is, by turning or boring the
                     material—into an object through user input. Milling is the process of machining an object—commonly
                     stock material—using rotary cutters to remove excess material.
                 </p>

                 </div>
         </div>

    <div class="syil">

            <div class="syil_img">
            <img style="margin-left:25px;" src='{{  url_for( 'static' , filename= "images/Syil.jpg")}}' width="300" height="300"/>
             </div>
             <div class="syil_text">
                 <h2>Syil</h2>
                 <h3>Description</h3>
                 <p>
                    The Syil CNC milling machine is used to mill an object using computer code, specifically G- or
                     M-code. This is the smaller of the two CNC machines at CETA. Milling is the process of machining an
                     object—commonly stock material—using rotary cutters to remove excess material.
                 </p>

                 </div>
         </div>

    </body>
{% endblock %}