{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register
{% endblock %}

{% block navbar %}
        {{ nav.my_nav.render() }}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/login-signup/signup.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Document</title>
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
     {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
        {% endfor %}

 <div id="box">

{#     <img src='{{  url_for( 'static' , filename= "images/pencilicon.png")}}' class = "img-icon" width="300" height="400" />#}


     <form method="post">
         {{ form.csrf_token() }}
 <h1>Room</h1>
         <div class="form-group col-md-6">
             Room number
             {{ wtf.form_field(form.RoomNum, class='form-control', placeholder='000') }}
         </div>
         <div class="form-group col-md-6">
             Room Name
             {{ wtf.form_field(form.RoomName, class='form-control', placeholder='Room Name') }}
         </div>

         <div class="form-group col-md-6">
             {{ wtf.form_field(form.Building, class='form-control') }}
         </div>
{#         #}
{#         <div class="form-group col-md-6">#}
{#             {{ wtf.form_field(form.email, class='form-control', placeholder='Email') }}#}
{#         </div>#}
{#         #}
{#         <div class="form-group col-md-6">#}
{#             {{ wtf.form_field(form.password, class='form-control', placeholder='Password') }}#}
{#         </div>#}


         <input type=file name=file>

         <div id="log-btndiv">
             {{ form.submit(class_="btn btn-outline-dark btn-lg ") }}
         </div>

     </form>
 </div>

{% endblock %}