{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}


{% block title %}
Machine Descriptions
{% endblock %}



{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/AdminBooking/RoomEdit.css') }}">

{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>MachineInfo</title>
    </head>

    <body>
        <p><a href="{{ url_for('adminBooking_View.buildings')}}"><br>BACK</a></p>
        <p><a href="{{ url_for('adminBooking_View.roomcreation')}}"><br>Make a Room</a></p>
        <p><a href="{{ url_for('adminBooking_View.bookingpage')}}"><br>Save</a></p>
        <div>
            <img src="{{  url_for( 'static' , filename="media/"+currentRoom.room_image )}}" width = "1000" height="500">
        </div>



        <div id="MACHINEMAPIMAGES">

            <div class="dropdown">
                <button class="dropbtn">Machines</button>

                <div class="dropdown-content" style="left:0;">
                    {% for machine in machines %}
                        {% if machine.machine_name != "Default" %}
                            <tr>
                                <td>
                                    {% for machineImage in machineImages %}
                                        {% if machine.machine_image_id == machineImage.id %}
                                            <img src="{{  url_for( 'static' , filename="media/"+ machineImage.image )}}" width = "150" height="100" onclick="">
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>



        <div id="DRAGGABLEMACHINEIMAGES">

        </div>




        <!-- Draggable DIV -->
        <div id="mydiv" class="draggable" onclick="dragElement(this)">
            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="mydivheader" >
                <img src='{{  url_for( 'static' , filename= "images/Syil.jpg")}}' width = "150" height="100">
            </div>
        </div>


        <div id="mydiv" class="draggable" onclick="dragElement(this)" style="top: 500px; left: 500px;">

            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="mydivheader" >
                <img src='{{  url_for( 'static' , filename= "images/Saftey.jpg")}}' width = "150" height="100">
            </div>
        </div>


        <div id="mydiv" class="draggable" onclick="dragElement(this)" style="top: 500px; left: 500px;">

            <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
            <div id="mydivheader" >
                <img src='{{  url_for( 'static' , filename= "images/Saftey.jpg")}}' width = "150" height="100">
            </div>
        </div>


    </body>




    <script>


    function SpawnImage(image)
    {

    }





    function dragElement(elmnt)
    {
        console.log(elmnt);
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            // otherwise, move the DIV from anywhere inside the DIV:
            elmnt.onmousedown = dragMouseDown;


        function dragMouseDown(e)
        {
            e = e || window.event;
            pos3 = parseInt(e.clientX);
            pos4 = parseInt(e.clientY);

            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
            return false;
        }


        function elementDrag(e)
        {
           console.log(pos1, ",  ",pos2, ",  " ,pos3, ",  ",pos4, elmnt);

            e = e || window.event;
            pos1 = pos3 - parseInt(e.clientX);
            pos2 = pos4 - parseInt(e.clientY);
            pos3 = parseInt(e.clientX);
            pos4 = parseInt(e.clientY);
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            //console.log(elmnt.offsetTop)
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement()
        {
            document.onmouseup = null;
            document.onmousemove = null;
        }

    }

    </script>


{% endblock %}