{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "Home Page/Nav.html" %}


{% block title %}
Machine Descriptions
{% endblock %}



{% block styles %}
{{super()}}
        <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/AdminBooking/RoomEdit.css') }}">

{% endblock %}

{% block content %}
    {#    <div class="container">#}
{#        {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning">#}
{#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    <head>
        <meta charset="UTF-8">
        <title>MachineInfo</title>
    </head>

    <body>


        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Rooms</button>
            <div class="dropdown-content" style="left:0;">
                {% for room in Rooms%}
                    {% if room.building_id == Building.id %}
                        <tr>
                            <td>
                                <a href="{{ url_for('adminBooking_View.room',  building_id=room.building_id , room_id=room.id)}}">{{room.room_num}}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <p><a href="{{ url_for('adminBooking_View.roomcreation')}}"><br>Make a Room</a></p>



        <div>
            <img src="{{currentRoom.room_image }}">
        </div>





     </body>



    <script>

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
    </script>


{% endblock %}